@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.text-heading {
  font-weight: 900;
  font-stretch: 125%;
}

html {
  font-family: "Mona Sans";
  font-weight: 400;
  font-stretch: 100%;
  font-size: 16px;
  line-height: 1.5;
}

.window-mask {
  mask-image: linear-gradient(black, black), url("/images/egg.svg");
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 50% 50%;
  mask-position: center center, center center;
}

.hero-background {
  background: linear-gradient(
      to bottom,
      theme("colors.slate.900") 100px,
      transparent 100px,
      transparent calc(80vh - 40px),
      theme("colors.slate.900") calc(80vh - 40px)
    ),
    linear-gradient(
      to right,
      theme("colors.slate.900") 24px,
      transparent 24px,
      transparent calc(100% - 24px),
      theme("colors.slate.900") calc(100% - 24px)
    );
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
